@CHARSET "UTF-8";


.ui-link, .ui-widget{
	font-size: 14px !important;
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}
.ui-selectonemenu .ui-selectonemenu-trigger{
	width:30px !important;
	padding: 0 5px !important;
}

.ui-outputlabel .ui-outputlabel-rfi{
	color:red;
}

.autoComplete-text input{
	width: 100%;
}

@media (max-width:500px){
	.ui-wizard-step-title{
		width: 90% !important;
		margin: 5px 5% 5px 5% !important;
	}
}


/* Containers */
.container100{ width:100%; float:left;}
.container99{ width:99%; float:left;}
.container96{ width:96%; float:left;}
.container90{ width:90%; float:left;}
.container85{ width:85%; float:left;}
.container80{ width:80%; float:left;}
.container78{ width:78%; float:left;}
.container75{ width:75%; float:left;}
.container70{ width:70%; float:left;}
.container66{ width:66.66%; float:left;}
.container60{ width:60%; float:left;}
.container50{ width:50%; float:left;}
.container47{ width:47%; float:left;}
.container49{ width:49%; float:left;}
.container40{ width:40%; float:left;}
.container33{ width:33.33%; float:left;}
.container32{ width:32%; float:left;}
.container30{ width:30%; float:left;}
.container25{ width:25%; float:left;}
.container20{ width:20%; float:left;}
.container10{ width:10%; float:left;}
.container5{ width:5%; float:left;}

.container-indent{display:block; margin:0px auto; padding:10px;}


@media (min-width: 960px) and (max-width:1200px){
	/* responsive support */
	.Responsive{width:33.3%; float:left; margin-left:0px !important; margin-right:0px !important;}
	.Responsive50{width:50%; float:left; margin-left:0px !important; margin-right:0px !important;}
	.Responsive100{width:100%; float:left; margin-left:0px !important; margin-right:0px !important;}
    
    /* make auto of element width attribute on mobile devices with media queries */
    .WidAutoOnMobile{width:auto !important;}
    .HeiAutoOnMobile{height:auto !important; min-height:50px !important;}
} 
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 640px) and (max-width: 960px) {
	/*visibilities according to the platform*/
	.ShowOnMobile{display:inherit; opacity:1;}
	.ShowOnDesktop{display:none; opacity:0;}
    .FloatNoneOnMobile{float:none !important;}
	
	/* responsive support */
	.Responsive{width:50%; float:left; margin-left:0px !important; margin-right:0px !important;}
	.Responsive50{width:100%; float:left; margin-left:0px !important; margin-right:0px !important;}
	.Responsive100{width:100%; float:left; margin-left:0px !important; margin-right:0px !important;}
	
	.ContainerIndent{padding:5px;}
    
    /* make auto of element width attribute on mobile devices with media queries */
    .WidAutoOnMobile{width:auto !important;}
    .HeiAutoOnMobile{height:auto !important; min-height:50px !important;}
	
	/* font size resetting for responsive modes */ 
	.Fs14{font-size:13px !important;} 
	.Fs15{font-size:14px !important;} 
	.Fs16{font-size:15px !important;} 
	.Fs17{font-size:16px !important;} 
	.Fs18{font-size:16px !important;} 
	.Fs19{font-size:16px !important;} 
	.Fs20{font-size:18px !important;} 
	.Fs21{font-size:18px !important;} 
	.Fs22{font-size:20px !important;} 
	.Fs23{font-size:20px !important;} 
	.Fs24{font-size:22px !important;} 
	.Fs25{font-size:22px !important;} 
	.Fs26{font-size:24px !important;} 
	.Fs27{font-size:24px !important;} 
	.Fs28{font-size:26px !important;} 
	.Fs29{font-size:26px !important;} 
	.Fs30{font-size:28px !important;}
	.Fs40{font-size:30px !important;}
	.Fs50{font-size:35px !important;}
	.Fs60{font-size:40px !important;}
	.Fs100{font-size:60px !important;}
	.Fs130{font-size:70px !important;}
}
 
 
/* Landscape phone to portrait tablet */
@media (min-width:480px) and (max-width: 640px) {	
	/*visibilities according to the platform*/
	.ShowOnMobile{display:inherit; opacity:1;}
	.ShowOnDesktop{display:none; opacity:0;}
    .FloatNoneOnMobile{float:none !important;}
	
	/* responsive support */
	.Responsive{width:100%; float:left; margin-left:0px !important; margin-right:0px !important;}
	.Responsive50{width:100%; float:left; margin-left:0px !important; margin-right:0px !important;}
	.Responsive100{width:100%; float:left; margin-left:0px !important; margin-right:0px !important;}
	
	.ContainerIndent{padding:5px;}

    /* make auto of element width attribute on mobile devices with media queries */
    .WidAutoOnMobile{width:auto !important;}
    .HeiAutoOnMobile{height:auto !important; min-height:50px !important;}
	
	/* font size resetting for responsive modes */
	.Fs12{font-size:12px !important;} 
	.Fs13{font-size:12px !important;} 
	.Fs14{font-size:13px !important;} 
	.Fs15{font-size:13px !important;} 
	.Fs16{font-size:13px !important;} 
	.Fs17{font-size:14px !important;} 
	.Fs18{font-size:15px !important;} 
	.Fs19{font-size:17px !important;} 
	.Fs20{font-size:17px !important;} 
	.Fs21{font-size:18px !important;} 
	.Fs22{font-size:18px !important;} 
	.Fs23{font-size:20px !important;} 
	.Fs24{font-size:21px !important;} 
	.Fs25{font-size:22px !important;} 
	.Fs26{font-size:23px !important;} 
	.Fs27{font-size:23px !important;} 
	.Fs28{font-size:25px !important;} 
	.Fs29{font-size:25px !important;} 
	.Fs30{font-size:26px !important;}
	.Fs40{font-size:30px !important;}
	.Fs50{font-size:32px !important;}
	.Fs60{font-size:35px !important;}
	.Fs100{font-size:40px !important;}
	.Fs130{font-size:50px !important;}
}
 
 
/* Portrait phones and down */
@media (min-width:320px) and (max-width: 480px) {
	/*visibilities according to the platform*/
	.ShowOnMobile{display:inherit; opacity:1;}
	.ShowOnDesktop{display:none; opacity:0;}
    .FloatNoneOnMobile{float:none !important;}
	
	/* responsive support */
	.Responsive{width:100%; float:left; margin-left:0px !important; margin-right:0px !important;}
	.Responsive50{width:100%; float:left; margin-left:0px !important; margin-right:0px !important;}
	.Responsive100{width:100%; float:left; margin-left:0px !important; margin-right:0px !important;}
	
	.ContainerIndent{padding:5px;}

    /* make auto of element width attribute on mobile devices with media queries */
    .WidAutoOnMobile{width:auto !important;}
    .HeiAutoOnMobile{height:auto !important;}
	
	/* font size resetting for responsive modes */
	.Fs12{font-size:12px !important;} 
	.Fs13{font-size:12px !important;} 
	.Fs14{font-size:13px !important;} 
	.Fs15{font-size:13px !important;} 
	.Fs16{font-size:13px !important;} 
	.Fs17{font-size:14px !important;} 
	.Fs18{font-size:15px !important;} 
	.Fs19{font-size:17px !important;} 
	.Fs20{font-size:17px !important;} 
	.Fs21{font-size:18px !important;} 
	.Fs22{font-size:18px !important;} 
	.Fs23{font-size:20px !important;} 
	.Fs24{font-size:21px !important;} 
	.Fs25{font-size:22px !important;} 
	.Fs26{font-size:23px !important;} 
	.Fs27{font-size:23px !important;} 
	.Fs28{font-size:25px !important;} 
	.Fs29{font-size:25px !important;} 
	.Fs30{font-size:25px !important;}
	.Fs40{font-size:28px !important;}
	.Fs50{font-size:30px !important;}
	.Fs60{font-size:32px !important;}
	.Fs100{font-size:35px !important;}
	.Fs130{font-size:40px !important;}
}
/* clearfix for Container */
.container:before,.container:after {
	content: "";
	display: table;
	border-collapse: collapse;
}

.container:after {
    clear: both; 
}

.shadow-effect {
    -webkit-box-shadow: 0px 1px 2px 0px rgba(43, 59, 93, 0.4);
    -moz-box-shadow: 0px 1px 2px 0px rgba(43, 59, 93, 0.4);
    box-shadow: 0px 1px 2px 0px rgba(43, 59, 93, 0.4);
}
.card {
    padding: 10px;
    display: block;
    background-color: #ffffff;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    color: #555;
}

.text-center {
    position: relative;
    top: 50%;
}

.text-center-objetivo {
	position: relative;
	top: 20%;
}

.gant {
    width: auto;
    position: relative;
    margin: -2px;
}

.legenda {
	padding: 4px !important;
    width: auto;
    position: relative;
    margin: -2px;
}


.box {
	background: #2DB700;
	z-index: 10;
}

.gant.box.meio-quadrado:hover {
    background: #1D7500;
}

.box2 {
	background: #555;
	z-index: 10;
}

.gant.box2.meio-quadrado:hover {
    background: #333;
}

.progresso {
	background: #73d216;
	z-index: 11;
}

.primeiro {
    border-radius: 10px 0px 0px 10px;
}

.meio-redondo {
    border-radius: 10px;
}

.meio-quadrado{
}

.ultimo{
    border-radius: 0px 10px 10px 0px;
}

.centralizado {
	text-align: center;
}

.esquerda {
	text-align: left;
}

.marginTop3 { height: 3px; }
.marginTop5 { height: 5px; }
.marginTop10 { height: 10px; }
.marginTop15 { height: 15px; }
.marginTop20 { height: 20px; }
.marginTop25 { height: 25px; }
.marginTop30 { height: 30px; }
.marginTop50 { height: 50px; }
.marginTop60 { height: 60px; }
.marginTop70 { height: 70px; }
.marginTop100 { height: 100px; }

.wid100 { width: 100px; }
.wid120 { width: 120px; }
.wid150 { width: 150px; }
.wid170 { width: 170px; }
.wid180 { width: 180px; }
.wid200 { width: 200px; }
.wid220 { width: 220px; }
.wid250 { width: 250px; }
.wid300 { width: 300px; }
.wid320 { width: 320px; }
.wid350 { width: 350px; }






.icon {
	float: left;
}

.icon > img {
	width: 75px !important;
	
}

.page-footer {
   margin-top: 20px;
   padding-top: 0px;
   background-color: #333;
}
