/* * {
	box-sizing: border-box !important;
} */
*:focus {
	outline: none !important;
}

body {
	font-family: Trebuchet MS !important;
	background-color: #EAEAEA !important;
	/* padding: 50px !important; */
}

.login {
	margin: 50px auto !important;
	width: 40% !important;
}

.msgs {
	width: 95%;
	text-align: left;
}

/* PANEL GRID */
.ui-panelgrid.panelgrid-noborder .ui-grid-responsive {
	border: none;
}

@media ( max-width : 640px) {
	.ui-panelgrid .ui-grid-responsive .ui-grid-row {
		/* border-top: 1px solid #bcc7cf; */
		border: none !important;
	}
}

.ui-panelgrid-cell.ui-grid-col-12>table {
	border-spacing: 0 !important;
}

@media ( max-width : 1310px) {
	.login {
		width: 50% !important;
	}
}

@media ( max-width : 1060px) {
	.login {
		width: 60% !important;
	}
}

@media ( max-width : 880px) {
	.login {
		width: 70% !important;
	}
}

@media ( max-width : 760px) {
	.login {
		width: 80% !important;
	}
}

.login-screen {
	background-color: #FFF !important;
	padding: 20px !important;
	height: 100% !important;
	border-radius: 5px !important;
	-webkit-box-shadow: 0px 2px 22px 1px rgba(0, 0, 0, 0.78);
	-moz-box-shadow: 0px 2px 22px 1px rgba(0, 0, 0, 0.78);
	box-shadow: 0px 2px 22px 1px rgba(0, 0, 0, 0.78);
}

.app-title {
	text-align: center !important;
	color: #777 !important;
}

.logo {
	width: 150px;
	height: 40px;
	margin: 10px;
}

.login-form {
	text-align: center !important;
	height: 250px !important;
}

.icon {
	color: #AAA;
	background: #FFF;
	border: 1px solid #AAA;
	padding: 10px;
	border-radius: 2px;
}

.icon-focus {
	color: #FC5E00;
	border: 1px solid #FC5E00 !important;
	/* box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.75), 0 0 8px
		rgba(252, 94, 0, 0.8); */
	box-shadow: none !important;
}

input {
	text-align: left !important;
	background-color: #FFF !important;
	border: 1px solid #AAA !important;
	border-radius: 3px !important;
	font-size: 16px !important;
	font-weight: 200 !important;
	padding: 10px 5px !important;
	width: 100% !important;
	transition: border .5s !important;
}

input:focus {
	border: 1px solid #FC5E00 !important;
	box-shadow: 0 0 8px rgba(252, 94, 0, 0.8) !important;
}

.btn {
	border: 2px solid transparent !important;
	background: #FC5E00 !important;
	color: #ffffff !important;
	font-size: 16px !important;
	line-height: 25px !important;
	padding: 10px 0 !important;
	text-decoration: none !important;
	text-shadow: none !important;
	border-radius: 3px !important;
	box-shadow: none !important;
	transition: 0.25s !important;
	display: block !important;
	height: 100% !important;
	width: 100% !important;
	margin: 10px auto !important;
	cursor: pointer !important;;
	text-align: center !important;
	font-weight: bold !important;
}

.btn:hover {
	background-color: #DA4A00 !important;
}

.login-link {
	font-size: 16px !important;
	color: #444 !important;
	display: block !important;
	margin-top: 12px !important;
}